nav ul li {display:inline;}
nav ul {list-style-type:none;}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}


