nav {
    height: 5vh;
}

nav ul li {
    display:inline;
}

nav ul {
    list-style-type:none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    height: 5vh;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

gmp-map {
    height: 90vh;
    width: 100vw;
}


