nav ul li {display:inline;}
nav ul {list-style-type:none;}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

body{
    margin: 0;
    background-color: tan;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: flex-end;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  flex: 10 1 1 1 1;
}

ul li a:hover {
  background-color: #111111;
}


