<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header class="header">
    <div class="admintopnav">
        <div class="admintitle">
            <a class="navbar-brand d-flex justify-content-start" href="/adminhome">
                <img src="/static/photos/chamber_logo_2026_v2.png" alt="chamber logo" class="rounded-pill"
                     style="width:25vh;">
            </a>
        </div>
        <ul>
            <li><a href="/adminhome">Home</a></li>
            <li><a href="/adminreviews">Feedback</a></li>
            <li class="dropdown">
                <a class="dropbtn">Edit</a>
                <div class="dropdown-content">
                    <a href="/edittours">Tour</a>
                    <a href="/editwelcome">Welcome Message</a>
                    <a href="/editevent">Events</a>
                </div>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>
