{% extends "adminnav.html" %}
{% block title %} Tours {% endblock %}
{% block content %}
<body id="home">
<div class="row">
  <div class="col-12 mb-3 mb-lg-5">
    <div class="overflow-hidden card table-nowrap table-card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Your Tours</h5>
        <a href="/createTour" class="btn btn-sm btn-primary">Create New Tour</a>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="small text-uppercase bg-body text-muted">
            <tr>
              <th>Tour Name</th>
              <th>Length</th>
              <th>Rating</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            {% for t in tours %}
              <tr class="align-middle">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="h6 mb-0 lh-1">{{ t.name }}</div>
                  </div>
                </td>
                <td>{{ tour_times[t.id] }}</td>
                <td>{{ avg_rating[t.id] }} Stars</td>
              <td><div class="h6 mb-0 lh-1"><a href="/editTour/{{ t.id }}">Edit</a></div></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
