{% extends "adminnav.html" %}
{% block title %} Tours {% endblock %}
{% block content %}
<script src="/static/tourEditor.js"></script>
<body id="tourEditor">
    <h1 id="editTourName">{{ tour.name }}</h1>
    <h3>Tour Rating: {{ avg_rating }} Stars</h3>
    <h3>Estimated Length: {{ estimated_time }}</h3>
    <form action="/saveTour/{{tour.id}}" method="POST">
        <fieldset>

            <label>Tour Name:</label>
            <input type="text" name="name" value="{{tour.name}}" required>

            <input type="checkbox" id="is_public" name="is_public">
            <label for="is_public">Public</label><br><br>

            <label>Tour Description:</label><br>
            <textarea id="tour-description" name="description" maxlength="1000" rows="10" cols="50" required>{{tour.description}}</textarea>

            <table id="edit-tour-places">
                <tr id="edit-tour-headers">
                    <th colspan="5">Tour Stops</th>
                </tr>
                <tr id="add-stop-button">
                    <td colspan="5"><button type="button" onclick="addStop('{{tour.name}}')">Add Stop</button></td>
                </tr>
            </table>

            <input type="hidden" id="admin_error_code" value="{{error}}">
            <input type="submit" value="SAVE">
        </fieldset>
    </form>
    <button id="delete-tour-button" type="button" onclick="deleteTour()">DELETE TOUR</button>
</body>
{% endblock %}
