{% extends "adminnav.html" %}
{% block title %} Welcome Back! {% endblock %}
{% block content %}
<body>
<h2>Edit welcome message or clear textbox to reset to default message</h2>
<form method="POST" action="/addmessage">

    <div class="input-container">
        <input type="text" name="message" class="input-field" placeholder=" "
               value="{{ welcome.message if welcome else '' }}">
        <label class="input-label">Welcome Message</label>
        <span class="input-highlight"></span>
    </div>
    <br>

    <button type="submit" class="adminbutton">Update Message</button>

</form>
</body>
{% endblock %}