{% extends "adminnav.html" %}
{% block title %} Welcome Back! {% endblock %}
{% block content %}
    <body>
    <h2>Edit welcome message or clear textbox to reset to default message</h2>
    <form method="POST" action="/addmessage">

        <div class="input-container" style="border: none; padding: 0; margin: 0;">
            <input
                    type="text"
                    name="message"
                    class="input-field"
                    placeholder=" "
                    value="{{ welcome.message if welcome else '' }}"
                    style="border: none; border-bottom: 1px solid #000; background: transparent; padding: 5px 0; margin: 0; outline: none; width: 35%;"
            >
            <span class="input-highlight" style="display: none;"></span>
        </div>


        <br>

        <button type="submit" class="adminbutton">Update Message</button>

    </form>
    </body>
{% endblock %}