{% extends "adminloginnav.html" %}

{% block title %} GCC Login {% endblock %}
{% block content %}
<body>
    <div class="loginbox">
        <script src="/static/verification.js"></script>
        <h2>Welcome Back!</h2>
        <input type="text" id="username" placeholder="Username"><br><br>
        <input type="password" id="password" placeholder="Password"><br><br>
        <button onclick="login()" id="loginbutton" class="adminbutton">Sign in</button><br>
    </div>
    <p id="error"></p>
</body>
{% endblock %}