{% extends "adminnav.html" %}
{% block title %} Welcome Back! {% endblock %}
{% block content %}

<body id="adminhome">
<h1>Welcome Back!</h1>

<div class="container-fluid overflow-hidden h-100">
    <div class="row gy-5 h-100">
        <div class="col-6 h-50" style="height: 50% !important;">
            <a href="/adminedittours"
               class="homebtn p-3 border text-white text-decoration-none d-flex align-items-center justify-content-center h-100"
               style="background-color: rgba(222, 197, 61, 1);">
                Edit Tours
            </a>
        </div>
        <div class="col-6" style="height: 50% !important;">
            <a href="/admineditevent"
               class="homebtn p-3 border text-white text-decoration-none d-flex align-items-center justify-content-center h-100"
               style="background-color: rgba(222, 197, 61, 1);">
                Edit Events
            </a>
        </div>
        <div class="col-6" style="height: 50% !important;">
            <a href="/admineditwelcome"
               class="homebtn p-3 border text-white text-decoration-none d-flex align-items-center justify-content-center h-100"
               style="background-color: rgba(222, 197, 61, 1);">
                Edit Welcome Message
            </a>
        </div>
        <div class="col-6" style="height: 50% !important;">
            <a href="/adminreviews"
               class="homebtn p-3 border text-white text-decoration-none d-flex align-items-center justify-content-center h-100"
               style="background-color: rgba(222, 197, 61, 1);">
                View Feedback
            </a>
        </div>
    </div>
</div>

</body>
{% endblock %}