{% extends "adminnav.html" %}
{% block title %} Tours {% endblock %}
{% block content %}
<body id="home">
    <h1>Tours</h1>
    <table id="admin-tour-list">
        <tr id="admin-tour-headers">
            <th>TOUR</th>
            <th>LENGTH</th>
            <th>RATING</th>
        </tr>
        <tr class="admin-tour-items">
            <td colspan="3"><a href="/createTour">Create New Tour</a></td>
        </tr>
        {% for t in tours %}
            <tr class="admin-tour-items">
                <td><a href="/editTour/{{t.id}}">{{ t.name }}</a></td>
                <td>{{ t.estimated_completion_time }}</td>
                <td>{{ t.average_rating }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}