{% extends "visitornav.html" %}
{% block content %}

{% if success == "True" %}
<script>
    alert("Feedback sent successfully.");
</script>
{% elif success == "False" %}
<script>
    alert("Failed to send feedback.\nFields cannot be empty");
</script>
{% endif %}

<h1> Submit Feedback </h1>
<form action="{{ url_for('feedback') }}" method="post">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
</form>
{% endblock %}

<!--https://codepen.io/mildrenben/pen/gbddEj-->
