{% extends "visitornav.html" %}
{% block content %}
<h1> Welcome! </h1>
<p>
    Welcome to the Gunnison GPS Walking Tours experience!
    Discover the history, culture, and hidden gems of downtown Gunnison through interactive, self-guided tours.
    Use your phone to follow curated routes, learn about local landmarks, and explore at your own pace.
    Start your adventure and experience Gunnison like never before.
</p>

<div class="homeContainer">
    <div class="homePageNav"><a href="/Tours">Tours</a></div><br>
    <div class="homePageNav"><a href="/Locations">Locations</a></div><br>
    <div class="homePageNav"><a href="/Contact">Get in Touch</a></div>
</div>

<h1>Upcoming Events</h1>

{% if event %}
 <!--Event Name -->
  <table>
    {% for i in event %}
    <tr>
      <td>{{ i.title }}</td>
    </tr>
    <tr>
         <!--Event Description -->
        <td>{{ i.message }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
    There are no upcoming events. Check back again another time!
{% endif %}

{% endblock %}
