{% extends "visitornav.html" %}
{% block content %}

    <h1 class="page-header">
        Locations
    </h1>

    <div class="d-flex justify-content-end">
        <div class="btn-group dropstart">
            <button class="btn dropdown-toggle dropdownbtn" data-bs-toggle="dropdown" aria-expanded="false"
                    aria-haspopup="true">
                <img src="/static/filter.svg" alt="Filter" width="24" height="24">
            </button>

            <ul class="dropdown-menu dropdown-menu-start">
                <li><a class="dropdown-item" href="/Locations">All</a></li>
                {% for i in tourlocations %}
                    <li><a class="dropdown-item" href="/Locations?tour_id={{ i[0] }}">{{ i[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <ol class="gradient-list">
        {% for i in col %}
            <li class="tour-item">
                <a href="/Places/{{ i[0] }}">{{ i[1] }}</a>
            </li>
        {% endfor %}
    </ol>


{% endblock %}