<div id="new_stop_popup" class="overlay-container">
    <div class="popup-box">
        <h3>Add New Stop</h3>

        <form class="form-container" action="/api/addPlaceToTour" method="post">
            <h4>Choose Existing Place</h4>
            <select id="location_dropdown" name="existingLocation">
                <option value="none"> - Choose Existing Place - </option>
            </select><br>

            <h4>Create New Place</h4>
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="address" placeholder="Address or Coordinates">
            <p>
                <b>E.g. Address:</b> 500 E Tomichi Ave, Gunnison, CO 81230<br>
                <b>E.g. Coordinates:</b> 38.544796453454204, -106.92133686214214
            </p>
            <textarea name="description" placeholder="Description"></textarea><br>

            <input type="hidden" id="editTourName" name="tour_name" value="{{name}}">
            <button type="submit" id="submitStop">Submit</button><br>
        </form>

        <button type="button" id="cancelNewPopup">Cancel</button>

    </div>
</div>