{% extends "visitornav.html" %}
{% block content %}
    {% for i in col %}
        <h1 class="fs-1 fw-bold page-header">
        {{ i[1] }}
    </h1>

    <h1 class="fs-4 page-header">
        {{ i[2] }}
    </h1>
    {% endfor %}
    
    <p class="fs-4">Tours Featured On:</p>
    <table>
        {% for i in feat_tours %}
            <tr>
                <td><a class="text-decoration-none" style="color: rgba(63, 143, 135, 1)"
                       href="/viewTour/{{ i.id }}">{{ i.name }}</a>
                </td> <!-- link to the location specific page-->
            </tr>
        {% endfor %}
    </table>

    <div id="tour-id" hidden>{{ place_id }}</div>
{% endblock %}
