<div id="popupOverlay" class="overlay-container">
    <div class="popup-box">
        <h2>You've reached the end of the tour!<br>Let us know how it went</h2>

        <form class="form-container" action="/tourfeedback" method="POST" name="rating">
            <div class="star-container">
                <span class="star four">★</span>
                <span class="star four">★</span>
                <span class="star four">★</span>
                <span class="star four">★</span>
                <span class="star">★</span>
            </div>
            <input type="hidden" id="ratingValue" name="rating" value="4" required>
            <input class="form-input" type="text" placeholder="Share your ideas..." id="tourfeedback" name="comment"
                   required>
            <button class="btn-submit" type="submit">Submit</button>
            <input type="hidden" id="tour-id" name="tour_id" value="{{ tour_id }}">
        </form>

        <button type="button" class="btn-close-popup" id="closePopup">
            No thanks
        </button>
    </div>
</div>
