<div id="popupOverlay" class="overlay-container">
  <div class="popup-box">
    <h2>You've reached the end of the tour!<br>Let us know how it went</h2>

    <form class="form-container" action="/tourfeedback" method="POST" name="rating">
    <div class="star-container">
        <span onclick="rate(1)" class="star">★</span>
        <span onclick="rate(2)" class="star">★</span>
        <span onclick="rate(3)" class="star">★</span>
        <span onclick="rate(4)" class="star">★</span>
        <span onclick="rate(5)" class="star">★</span>
    </div>
        <input type="hidden" id="ratingValue" name="rating" value="0">
        <input class="form-input" type="text" placeholder="Share your ideas..." id="tourfeedback" name="comment">
        <button class="btn-submit" type="submit">Submit</button>
    </form>

    <button class="btn-close-popup" onclick="closePopup()">
      No thanks
    </button>
  </div>
</div>