{% extends "visitornav.html" %}
{% block title %} Tours {% endblock %}
{% block content %}

<!--Filter by tour length, rating & alphabetically -->

    <div class="d-flex justify-content-end">
        <div class="btn-group dropstart">
            <button class="btn dropdown-toggle dropdownbtn" data-bs-toggle="dropdown" aria-expanded="false"
                    aria-haspopup="true">
                <img src="/static/filter.svg" alt="Filter" width="24" height="24">
            </button>

            <ul class="dropdown-menu dropdown-menu-start">
                <li><a class="dropdown-item" href="/Tours?sort_tour=longest">Longest</a></li>
                <li><a class="dropdown-item" href="/Tours?sort_tour=shortest">Shortest</a></li>
                <li><a class="dropdown-item" href="/Tours?sort_tour=highreview">Highest Reviews</a></li>
                <li><a class="dropdown-item" href="/Tours?sort_tour=lowreview">Lowest Reviews</a></li>
                <li><a class="dropdown-item" href="/Tours?sort_tour=atoz">A-Z</a></li>
                <li><a class="dropdown-item" href="/Tours?sort_tour=ztoa">Z-A</a></li>
                <li><a class="dropdown-item" href="/Tours">Reset Filter</a></li>
            </ul>
        </div>
    </div>
<h1>Current Tours</h1>

<ol class="gradient-list">
  {% for i in col %}
  <li class="tour-item">
    <a href="/viewTour/{{ i[0] }}">{{ i[1] }}</a>
    <p>{{ i[2] }}</p>
    <span>★{{ i[3] }}</span>
    <span>Est. Time: {{ i[4] }}</span>
  </li>
  {% endfor %}
</ol>
{% endblock %}
