{% extends "visitornav.html" %}
{% block head %}
    <title>View Tour</title>
    <style>
        gmp-map {
            height: clamp(300px, 60vh, 700px);
            width: 100%;
            display: block;
        }

        @media (max-width: 600px) {
            gmp-map {
                height: 50vh;
            }
        }
    </style>

    <script type="module" src="../static/tourMap.js"></script>
    <script>(g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document,
            b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })
    ({key: "AIzaSyA5NCmT4YZvoa5KVQcOF1XHN3B8PxNpapQ", v: "weekly"});</script>

{% endblock %}
{% block content %}

    <body id="view">
    <div id="tour-id" hidden>{{ tour_id }}</div>
    <h1 class="fs-1 fw-bold page-header">
        {{ tour }}
    </h1>

    <h1 class="fs-4 page-header">
        {{ description }}
    </h1>

    <p class="fs-2">Stops:</p>
    <table>
        {% for i in col %}
            <tr>
                <td><a class="text-decoration-none" style="color: rgba(63, 143, 135, 1)"
                       href="/Places/{{ i[0] }}">{{ i[1] }}</a></td> <!-- link to the location specific page-->
            </tr>
        {% endfor %}
    </table>
    <br>

    <gmp-map center="38.54260065425841, -106.91915044613187" zoom="18" map-id="DEMO_MAP_ID"></gmp-map>

    </body>

    <!-- prettier-ignore -->
    <script>(g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document,
            b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })
    ({key: "AIzaSyA5NCmT4YZvoa5KVQcOF1XHN3B8PxNpapQ", v: "weekly"});</script>
    <a class="btn btn-info" role="button" href="http://127.0.0.1:5000/onTour/{{ tour_id }}">Start Tour</a>
    <div class="d-flex align-items-center">
        <span class="fs-6"> ★{{ rating }}</span>
        <span class="fs-8 ms-2" style="color: grey">Est. Time: {{ time }}</span>
    </div>
    <br>
{% endblock %}
