<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="topnav">
  <div class="title">Gunnison Tours</div>
<div id="Sidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="/">Home</a>
  <a href="/Tours">Tours</a>
  <a href="/Locations">Locations</a>
  <a href="/Contact">Contact</a>
</div>
    <button class="openbtn" onclick="openNav()">☰</button>
</div>
<script src="/static/navbar.js"></script>

<button class="navButton" onclick="openNav()">☰</button>
    <footer>
    <ul>
        <li><a href="/">Back to Top</a></li>
        <li><a href="/Tours">Tours</a></li>
        <li><a href="/Locations">Locations</a></li>
        <li><a href="/Contact">Contact</a></li>
    </ul>
</footer>
    {% block content %}
    {% endblock %}
</body>
</html>
